@import '../../assets/scss/variables.scss';
@import '../../assets/scss/fonts.scss';
@import '../../assets/scss/btns.scss';

.filters-block {
	display: flex;
	height: 30px;
	margin-left: 80px;
	.label {
		width: 90px;
		text-align: left;
		padding-top: 5px;
	}
	.btn_filter {
		margin-right: 5px;
		padding-top: 0;
		color: $color-main-dark;
		&:hover {
			background-color:rgba(0, 0, 0, 0.05);
			border: rgba(0, 0, 0, 0.15);
		}
		&:active {
			background-color:rgba(0, 0, 0, 0.15);
			border: rgba(0, 0, 0, 0.15);
		}
		&.active {
			background-color:rgba(0, 0, 0, 0.15);
			border: rgba(0, 0, 0, 0.15);
		}
	}
}