.menu {
	position: relative;
	width: 355px;
	height: 40px;
	&-list {
		margin: 0;
		padding: 0;
		display: flex;
		list-style:  none;
		height: 40px;
		justify-content: space-between;
		align-items: flex-end;
		&-item {
			position: relative;
			width: 100%;
		}
		&:first-child {
			padding-left: 35px;
			&::before {
				position: absolute;
				bottom: 10px;
				left: 0;
				content: url(../../assets/logo/logo_b.svg);
			}
		}
		button {
			height: 40px;
			border: none;
			border-color: transparent;
			background-color: transparent;
			cursor: pointer;
			transition: all 0.4s ease;
			&:hover, &:active {
				border-radius: 0;
				border: 2px solid rgba(0, 0, 0, 0);
				border-bottom: 1px solid rgba(0, 0, 0, 0.2);
			}
		}
	}
}