@import '../../assets/scss/variables.scss';
@import '../../assets/scss/fonts.scss';
@import '../../assets/scss/btns.scss';

.main {
	color: $color-main-light;
	text-align: center;
	.content {
		width: 700px;
		margin: 0 auto;
	}
	.divider {
		display: none;
	}
	.more {
		display: none;
	}
	&_1 {
		min-height: 640px;
		padding-top: 170px;
		background: url('../../assets/bg/bg_main.jpg') center/cover  no-repeat;
		.divider {
			display: block;
			margin-top: 8px;
		}
		.more {
			display: block;
			margin-top: 10px;
			// text-align: center;
			.subtitle {
				margin-top: 20px;
			}
			.link {
				margin-top: 20px;
				text-decoration: none;
			}
			.btn {
				&:hover {
					background-color:rgba(255, 255, 255, 0.2);
				}
			}
		}
	}
	&_2 {
		min-height: 260px;
		background: url('../../assets/bg/bg_our-coffee.jpeg') center/cover  no-repeat;
		padding-top: 130px;

	}
	&_3 {
		min-height: 260px;
		background: url('../../assets/bg/bg_for_your_pleasure.jpeg') center/cover  no-repeat;
		padding-top: 130px;
	}
}

