@import '../../assets/scss/variables.scss';
@import '../../assets/scss/fonts.scss';
@import '../../assets/scss/btns.scss';

.about {
	padding: 0;
	padding-top: 70px;
	text-align: center;
	.wrapper {
		display: flex;
		justify-content: center;
	}
	.divider-line {
		height: 1px;
		width: 240px;
		margin: 0 auto;
		margin-top: 56px;
		background-color: $color-main-dark;
	}
	&__info {
		padding-top: 10px;
		.divider {
			margin-top: 15px;
		}
	}
	&_1 {
		padding-bottom: 80px;
		.about__info {
			width: 588px;
		}
		.divider-line {
			display: none;
		}
	}
	&_2 {
		.image {
			width: 271px;
			height: 354px;
			margin-right: 80px;
			background: url('../../assets/img/about_beans.jpeg') center/cover  no-repeat;
			box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.25);
		}
		.about__info {
			width: 346px;
		}
	}
	&_3 {
		.image {
			width: 271px;
			height: 355px;
			margin-right: 88px;
			background: url('../../assets/img/about_goods.jpeg') center/cover  no-repeat;
			box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.25);
		}
		.about__info {
			width: 326px;
		}
	}
	&_it {
		.image {
			width: 391px;
			height: 355px;
			margin-right: 55px;
			background: url('../../assets/img/about_it.jpeg') center/cover  no-repeat;
			box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.25);
		}
		.about__info {
			width: 417px;
		}
		&__details {
			margin-top: 25px;
			.text {
				text-align: left;
				span {
					font-weight: 700;
				}
			}
			.price {
				font-weight: 700;
				span {
					font-size: 24px;
					font-weight: 400;
				}
			}
		}
	}
}