@import '../../assets/scss/variables.scss';

.footer {
	min-height: 150px;
	padding-top: 40px;
	.menu {
		margin: 0 auto;
		button {
			&:hover, &:active {
				border-radius: 0;
				border: 2px solid rgba(0, 0, 0, 0);
				border-bottom: 1px solid $color-main-dark;
			}
		}
	}
	.divider {
		margin-top: 20px;
	}
}